.promo__steps {
  position: absolute;
  left: 0;
  right: 0;
  height: auto;
  max-width: 1136px;
  margin: 0 auto;
  transform: translateY(-50%);
  background-color: rgba(0,0,0, .75);
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.6);
  z-index: 2;
  @media #{$M_MD} {
    margin: 0 30px;
  }
  @media #{$M_XS} {
    margin: 0 20px;
    box-shadow: none;
    display: flex;
    flex-flow: column wrap;
    transform: translateY(0);
    bottom: 287px;
  }
  @media #{$M_XSSM} {
    bottom: 272px;
  }
  @media #{$M_X4XS} {
    bottom: 277px;
  }

  & .steps {
    &__top {
      padding: 30px 37px 25px;
      z-index: 2;
      @media #{$M_SMX} {
        padding: 15px 25px;
      }
      @media #{$M_XS} {
        order: 2;
      }
    }
    &__title {
      margin-bottom: 18px;
      text-align: center;
      & h1 {
        @media #{$M_XS} {
          font-size: 27px;
        }
      }
    }
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @media #{$M_X4XS} {
        flex-flow: column wrap;
      }
      &-item {
        display: inline-flex;
        align-items: center;
        max-width: 390px;
        margin-right: 12px;
        line-height: 1.2em;
        font-size: 19px;
        background-position: 0 50%;
        background-repeat: no-repeat;
        &:last-of-type {
          margin-right: 0;
          margin-bottom: 0;
        }
        &:after {
          content:'';
          display: block;
          height: 1px;
          width: 100px;
          margin-left: 16px;
          background-color: $gray-6E;
          @media #{$M_XLG} {
            width: 80px;
          }
          @media #{$M_SMX} {
            display: none;
          }
        }
        &:last-of-type{
          &:after {
            display: none;
          }
        }
        & span {
          display: inline-block;
          height: 36px;
          width: 36px;
          margin-right: 10px;
          line-height: 36px;
          vertical-align: middle;
          text-align: center;
          font-size: 15px;
          border: 1px solid $gray-6E;
          @include border-radius(100%);
          cursor: default;
        }
        & i {
          display: block;
          padding-top: 5px;
          margin-right: 10px;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          @media #{$M_X4XS} {
            height: 35px;
            width: 40px;
            &:before {
              display: none;
            }
            &.friends {
              background-image: url(../images/icon_friends-talking.svg);
            }
            &.photo {
              background-image: url(../images/icon_photo.svg);
            }
            &.trophy {
              background-image: url(../images/icon_trophy.svg);
            }
          }
          &.friends {
            &:before {
              content: svg-load('../images/icon_friends-talking.svg', fill = white);
            }
          }
          &.photo {
            &:before {
              content: svg-load('../images/icon_photo.svg', fill = white);
            }
          }
          &.trophy {
            &:before {
              content: svg-load('../images/icon_trophy.svg', fill = white);
            }
          }
        }
        @media #{$M_X4XS} {
          margin-bottom: 13px;
        }
        @media #{$M_XS} {
          font-size: 13px;
        }
      }
    }
    &__video {
      height: auto;
      width: 100%;
      overflow: hidden;
      & video {
        height: 100%;
        width: calc(100% + 8px);
        margin-left: -4px;
      }
      @media #{$M_XS} {
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.6);
        order: 1;
      }
    }
  }
}
.promo {
  &__nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 480px 0 94px;
    font-size: 17px;
    & a {
      border-bottom: 1px solid #474443;
      &:hover {
        border-bottom: none;
        text-decoration: none;
      }
    }
    @media #{$M_SM2X} {
      flex-flow: column wrap;
    }
    @media #{$M_SMX} {
      padding: 400px 0 50px;
    }
    @media #{$M_XSM} {
      padding: 360px 0 30px;
    }
    @media #{$M_XS} {
      padding: 205px 0 30px;
    }
    @media #{$M_XSSM} {
      padding: 235px 0 30px;
    }
    @media #{$M_X4XS} {
      padding: 279px 0 30px;
    }
  }
  &__item {
    position: absolute;
    &:first-child {
      right: calc(50% + 240px);
      @media #{$M_SM2X} {
        position: relative;
        right: 0 !important;
        order: 2;
      }
    }
    &:last-child {
      left: calc(50% + 240px;);
      @media #{$M_SM2X} {
        position: relative;
        left: 0 !important;
        order: 3;
      }
    }
    & .promo-btn {
      @media #{$M_SM2X} {
        order: 1;
      }
    }
    @media #{$M_SM2X} {
      margin-bottom: 25px;
    }
  }
}