+b('section').page-section
  +b.promo__steps
    +b.steps__top
      +e.title
        h1 ჩაერთე გამოწვევაში
      +e('ul').list
        +e('li').list-item
          span 1
          i.friends
          | მოინახულე
          br
          | 3 მეგობარი
        +e('li').list-item
          span 2
          i.photo
          | გადაიღე თქვენი
          br
          | შეხვედრა
        +e('li').list-item
          span 3
          i.trophy
          | მოიგე
          br
          | პრიზები
    +b.steps__video
      video(controls="controls", autoplay="autoplay", muted, loop="loop")
        source(src="./temp/home_video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
  +b.promo__nav
    +e.item #[a(href="#") გაიგე მეტი გამოწვევის შესახებ]
    +e.item.promo-btn #[a(href="#").btn ჩაერთე!]
    +e.item #ახლომეგობარი
