doctype html
include ../templates/vendor/bemto/bemto

html(lang='ka')
  head
    include ../templates/partials/head/head
  body
    include ../templates/partials/page-gallery-popup/gallery-popup
    +b.page-wrapper
      include ../templates/partials/page-top-section/top-section--logout
      include ../templates/partials/page-steps-section/steps-section
      include ../templates/partials/page-main-section/main-section
      footer
        +b.main-wrapper
          +b.footer-inner
            include ../templates/partials/footer/footer
  block scripts
    script(src='assets/scripts/vendor/jquery-2.2.4.min.js')
    script(src='assets/scripts/tools.js')
    script(src='assets/scripts/vendor/jquery.mCustomScrollbar.concat.min.js')