+b('section').tab-section
  +e.control
    +b('ul').tabs
      +e(data-tab="tab-1").item.map
        span რუკაზე
      +e(data-tab="tab-2").item.content.active
        span სიაში
  +e.content
    +b(id="tab-1").tab-content
      +b.map
        +e.popup
          +b.closer
          +b.inner-pic
            img(src="./temp/img_map.png")
          +b.inner-text
            +e.name Элизабет Андерсон
            +e.location Тбилиси, Грузия
            +e.row
              +e.time 2 часа назад
              +e.likes 64
        img(src="./temp/map.png")
    +b(id="tab-2").tab-content.active
      +b.main-wrapper
        +b.gallery-content
          +b.search-toolbar
            +e('label').search-bl
              input(type="search" placeholder="მოძებნე ფოტო სახელის მიხედვით")
              
            +b.filter-list-wr
              +b('ul').filter-list
                +e.item
                  a(href="#") ბოლოს ატვირთული
                +e.item.active
                  a(href="#") ყველაზე აქტიური
                +e.item
                  a(href="#") ყველაზე პოპულარული
          +b.rating-toolbar
            p გიორგი, ხმების რაოდენობით შენ ხარ მე-10 ადგილზე
            a(href="#").btn დაამატე ფოტო
              
          +b.gallery-list
            +e.inner
              +e.item
                +e.pic-wr
                  a(href="#")
                    img(src="./temp/img_01.png")
                +e.caption
                  +e.time 2 საათის წინ
                  +e.likes 520

              +e.item
                +e.pic-wr
                  a(href="#")
                    img(src="./temp/img_02.png")
                +e.caption
                  +e.time 2 საათის წინ
                  +e.likes 520

              +e.item
                +e.pic-wr
                  a(href="#")
                    img(src="./temp/img_03.png")
                +e.caption
                  +e.time 2 საათის წინ
                  +e.likes 520

              +e.item
                +e.pic-wr
                  a(href="#")
                    img(src="./temp/img_04.png")
                +e.caption
                  +e.time 2 საათის წინ
                  +e.likes 520

              +e.item
                +e.pic-wr
                  a(href="#")
                    img(src="./temp/img_05.png")
                +e.caption
                  +e.time 2 საათის წინ
                  +e.likes 520

              +e.item
                +e.pic-wr
                  a(href="#")
                    img(src="./temp/img_06.png")
                +e.caption
                  +e.time 2 საათის წინ
                  +e.likes 520

              +e.item
                +e.pic-wr
                  a(href="#")
                    img(src="./temp/img_07.png")
                +e.caption
                  +e.time 2 საათის წინ
                  +e.likes 520

              +e.item
                +e.pic-wr
                  a(href="#")
                    img(src="./temp/img_08.png")
                +e.caption
                  +e.time 2 საათის წინ
                  +e.likes 520

              +e.item
                +e.pic-wr
                  a(href="#")
                    img(src="./temp/img_09.png")
                +e.caption
                  +e.time 2 საათის წინ
                  +e.likes 520

              +e.item
                +e.pic-wr
                  a(href="#")
                    img(src="./temp/img_10.png")
                +e.caption
                  +e.time 2 საათის წინ
                  +e.likes 520

              +e.item
                +e.pic-wr
                  a(href="#")
                    img(src="./temp/img_11.png")
                +e.caption
                  +e.time 2 საათის წინ
                  +e.likes 520

              +e.item
                +e.pic-wr
                  a(href="#")
                    img(src="./temp/img_12.png")
                +e.caption
                  +e.time 2 საათის წინ
                  +e.likes 520

              +e.expand-more
                span მეტის ნახვა