.tab-section {
  height: auto;
  max-width: 1400px;
  margin: 58px auto 0;
  @media #{$M_XLG} {
    margin: 54px 30px 0;
  }
  @media #{$M_XS} {
    margin: 25px 20px 0;
  }
  &__control {
    & .tabs {
      display: inline-flex;
      width: 100%;
      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: $gray-33;
        color: $gray-6E;
        @include border-radius($border-radius-default $border-radius-default 0 0);
        cursor: pointer;
        & span {
          display: flex;
          align-items: center;
          &:before {
            display: block;
            content: "";
            margin-right: 13px;
            background-repeat: no-repeat;
            background-position: 50%;
            -webkit-background-size: contain;
            background-size: contain;
            opacity: 0.3;
          }
        }
        &.map {
          & span {
            &:before {
              background-image: url(../images/icon_map-marker.svg);
              height: 23px;
              width: 23px;
              @media #{$M_XS} {
                height: 18px;
                width: 18px;
              }
            }
          }
        }
        &.content {
          & span {
            &:before {
              background-image: url(../images/icon_tile.svg);
              height: 22px;
              width: 22px;
              @media #{$M_XS} {
                height: 17px;
                width: 17px;
              }
            }
          }
        }
        &.active {
          background-color: $gray-49;
          color: $white;
          cursor: default;
          & span {
            &:before {
              opacity: 1;
            }
          }
          &:hover {
            opacity: 1;
          }
        }
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  &__content {
    & .tab-content {
      display: none;
      height: auto;
      width: 100%;
      background-color: $gray-49;
      &.active {
        display: block;
      }
    }
  }
}
.map {
  position: relative;
  overflow: hidden;
  &__popup {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 215px;
    z-index: 22;
    &:after {
      content:'';
      display: block;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12px 10px 0 10px;
      border-color: $map-popup-bg transparent transparent transparent;
    }
    & .inner-pic {
      height: auto;
      max-height: 177px;
      width: 100%;
      @include border-radius($border-radius-default $border-radius-default 0 0);
      overflow: hidden;
      & img {
        width: 100%;
      }
    }
    & .inner-text {
      font-size: 11px;
      padding: 10px 14px 12px;
      background-color: $map-popup-bg;
      @include border-radius(0 0 $border-radius-default $border-radius-default);
      color: $gray-6E;
      overflow: hidden;
      &__name {
        margin-bottom: 8px;
        font-size: 13px;
        color: $black;
      }
      &__location {
        margin-bottom: 10px;
      }
      &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      &__likes {
        color: $green-57;
        &:before {
          display: inline-block;
          margin-right: 8px;
          content: svg-load('../images/icon_like.svg', fill = $green-57);
        }
      }
    }
    & .closer {
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
      width: 10px;
      height: 10px;
      z-index: 2;
      cursor: pointer;
      overflow: hidden;
      &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: $white;
      }
      &:before {
        @include transform-rotate(45deg);
      }
      &:after {
        @include transform-rotate(-45deg);
      }
    }
  }
}
.gallery-content {
  height: auto;
  width: 100%;
  padding: 48px 50px 31px;
  @media #{$M_SMX} {
    padding: 25px 30px 31px;
  }
  @media #{$M_XS} {
    padding: 20px;
  }
  & .search-toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow: row wrap;
    &__search-bl {
      flex-grow: 3;
      position: relative;
      height: 50px;
      max-width: 600px;
      min-width: 315px;
      margin-right: 30px;
      margin-bottom: 20px;
      background-color: $gray-53;
      @include border-radius($border-radius-default);
      & input {
        display: block;
        height: 100%;
        width: 100%;
        padding: 0 45px 0 20px;
        font-size: 17px;
        background-color: transparent;
        color: $white;
        -webkit-appearance: none;
      }
      &:after {
        display: block;
        position: absolute;
        height: 20px;
        content: svg-load('../images/icon_search.svg', fill = $white);
        top: 0;
        bottom: 0;
        right: 16px;
        margin: auto 0;
        z-index: 2;
      }
      @media #{$M_XS} {
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
    & .filter-list-wr {
      overflow: hidden;
      & .filter-list {
        display: flex;
        align-items: center;
        padding-bottom: 17px;
        margin-bottom: -17px;
        overflow: auto;
        white-space: nowrap;
        &__item {
          margin-left: 20px;
          font-size: 15px;
          color: $gray-79;
          &:first-of-type {
            margin-left: 0;
          }
          & a {
            display: block;
            height: 100%;
            width: 100%;
            line-height: 1.2em;
          }
          &.active {
            @include border-radius($border-radius-default);
            background-color: $gray-79;
            color: $white;
            @media #{$M_SMX} {
              height: auto;
              line-height: inherit;
              background-color: transparent;
              border-radius: 0;
            }
            & a {
              padding: 12px 20px 13px;
              text-decoration: none;
              @media #{$M_SMX} {
                padding: 0;
              }
            }
          }
          @media #{$M_SMX} {
            margin-left: 35px;
          }
        }
        @media #{$M_XS} {
          padding-bottom: 30px;
        }
      }
    }

  }
}
.rating-toolbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-flow: row wrap;
  height: auto;
  width: 100%;
  margin-top: 20px;
  padding: 17px 18px 17px 28px;
  background-color: $white-D7;
  @include border-radius($border-radius-default);
  @media #{$M_X3S} {
    padding: 17px 18px 17px 18px;
  }
  & p {
    margin-bottom: 17px;
    font-size: 21px;
    color: $black-25;
    @media #{$M_XS} {
      font-size: 15px;
      line-height: 22px;
    }
  }
  & .btn {
    position: relative;
    height: 46px;
    padding: 0 20px 0 58px;
    line-height: 46px;
    font-size: 24px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 20px 50%;
    -webkit-background-size: 24px;
    background-size: 24px;
    background-image: url(../images/icon_photo.svg);
    overflow: hidden;
    @media #{$M_X3S} {
      padding: 0 20px 0 53px;
      font-size: 22px;
      background-position: 15px 50%;
    }
  }
}
.gallery-list {
  display: flex;
  height: auto;
  width: 100%;
  margin-top: 20px;
  &__inner {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
/*     @media #{$M_SM3X} {
    }
    @media #{$M_SMX} {
    } */
    @media #{$M_X2S} {
      max-width: 100%;
      justify-content: center;
      flex-flow: column wrap;
    }
  }
  &__item {
    width: 302px;
    margin: 0 30px 40px 0;
    overflow: hidden;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
    @media #{$M_XLG} {
      width: 31.33333%;
      margin: 0 3% 50px 0;
      &:nth-of-type(4n) {
        margin-right: 3%;
      }
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
    @media #{$M_XSM} {
      width: 48%;
      margin: 0 4% 30px 0;
      &:nth-of-type(3n) {
        margin-right: 4%;
      }
      &:nth-of-type(even) {
        margin-right: 0;
      }
    }
    @media #{$M_X2S} {
      width: 100%;
      max-width: 500px;
      margin: 0 auto 20px !important;
      &:nth-of-type(even) {
        margin-right: auto;
      }
    }
  }
  &__pic-wr {
    height: auto;
    width: 100%;
    overflow: hidden;
    &:hover {
      opacity: 0.8;
    }
    & .picture-container {
      padding-bottom: 52%;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
    }
    @media #{$M_SM3X} {
      height: 222px;
    }
    @media #{$M_SMX} {
      height: 198px;
    }
  }
  &__caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
  }
  &__time {
    font-size: 13px;
    color: $gray-79;
  }
  &__likes {
    display: flex;
    align-items: center;
    font-size: 15px;
    &:before {
      display: block;
      content: svg-load('../images/icon_like.svg', fill = $white);
      margin-right: 10px;
    }
  }
  &__expand-more {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: $gray-53;
    font-size: 15px;
    @include border-radius($border-radius-default);
    cursor: pointer;
    text-align: center;
    &.rotate {
      & span {
        &:before {
          transform: rotate(360deg);
        }
      }
    }
    & span {
      display: flex;
      align-items: center;
      &:before {
        display: inline-block;
        content: svg-load('../images/icon_update-arrows.svg', fill = $white);
        margin-right: 20px;
      }
    }
    &:hover {
      opacity: 0.8;
    }
  }
}