.promo-title {
  margin-top: 55px;
  text-align: center;
  font-weight: bold;
  @media #{$M_XS} {
    & h2 {
      font-size: 27px;
    }
  }
}
.promo-form {
  position: relative;
  height: auto;
  max-width: 1136px;
  margin: 44px auto 0;
  padding-bottom: 50px;
  @media #{$M_SM3X} {
    margin: 44px 30px 0;
  }
  @media #{$M_XS} {
    margin: 44px 20px 0;
  }
  &.loading {
    & .promo-form__loader-wr {
      display: block;
    }
  }
  &__loader-wr {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
  }
  &__loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    width: 60px;
    margin: auto;
    text-align: center;
    font-size: 10px;
    z-index: 5;
    & .loader-item {
      display: inline-block;
      height: 100%;
      width: 6px;
      background-color: $white;
      -webkit-animation: StretchDelay 1.2s infinite ease-in-out;
              animation: StretchDelay 1.2s infinite ease-in-out;
      &.loader-item1 {
        -webkit-animation-delay: -1.2s;
                animation-delay: -1.2s;
      }
      &.loader-item2 {
        -webkit-animation-delay: -1.1s;
                animation-delay: -1.1s;
      }
      &.loader-item3 {
        -webkit-animation-delay: -1s;
                animation-delay: -1s; }
      &.loader-item4 {
        -webkit-animation-delay: -0.9s;
                animation-delay: -0.9s;
      }
      &.loader-item5 {
        -webkit-animation-delay: -0.8s;
                animation-delay: -0.8s;
      }
    }
  }
  &__item {
    width: 100%;
    padding: 0 29px 0;
    border-bottom: 1px solid #6e6e6e;
    @media #{$M_XS} {
      padding: 0 20px 0;
    }
    &:last-of-type {
      border-bottom: none;
    }
    &.active {
      @include border-radius($border-radius-default);
      background-color: $gray-49;
      border-bottom-color: transparent;
      margin-top: -3px;
      & .item-content {
        display: block;
      }
      & .item-title {
        border-bottom: 1px solid $gray-6E;
      }
    }
    & .item-title {
      display: flex;
      align-items: center;
      padding: 24px 0;
      font-size: 23px;
      @media #{$M_XS} {
        font-size: 15px;
      }
      
      & .item-num {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50px;
        min-width: 50px;
        margin-right: 22px;
        font-size: 23px;
        font-weight: bold;
        color: $black;
        background-color: $white;
        @include border-radius($full-round);
        overflow: hidden;
        @media #{$M_XS} {
          font-size: 15px;
          min-height: 32px;
          min-width: 32px;
        }
      }
    }
    & .item-content {
      display: none;
      width: 100%;
      padding: 48px 0;
      @media #{$M_XS} {
        padding: 20px 0;
      }
      & .inline-figure {
        display: flex;
        align-items: center;
        justify-content: center;
        &__pic {
          display: block;
          height: 110px;
          width: 110px;
          margin-right: 23px;
          background-repeat: no-repeat;
          background-position: 0 0;
          -webkit-background-size: contain;
          background-size: contain;
          cursor: pointer;
          &:hover {
            opacity: 0.9;
          }
          &:active {
            transform: translateY(2px);
          }
          & input {
            display: none;
          }
          &.facebook {
            background-image: url(../images/icon_facebook-blue.svg);
          }
          &.upload {
            background-image: url(../images/icon_upload.svg);
          }
          @media #{$M_XS} {
            height: 60px;
            width: 60px;
            min-width: 60px;
            min-height: 60px;
            margin-right: 13px;
          }
        }
        &__caption {
          & .caption-title {
            font-size: 23px;
            color: $white;
            & input {
              display: none;
            }
            & a,
            & label {
              border-bottom: 1px solid $gray-79;
              text-decoration: none;
              cursor: pointer;
              &:hover {
                border-bottom-color: transparent;
              }
            }
            & label {
              display: inline-block;
            }
            @media #{$M_XS} {
              font-size: 13px;
            }
          }
          & .sub-text {
            margin-top: 10px;
            line-height: 1.4em;
            font-size: 13px;
            color: $gray-79;
            @media #{$M_XS} {
              display: none;
            }
          }
        }
      }
      & .form {
        display: block;
        width: 100%;
        & .row {
          display: flex;
          align-items: center;
          width: 100%;
          margin-bottom: 20px;
          @media #{$M_XS} {
            flex-flow: row wrap;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
          & .pic-attach-wrapper {
            position: relative;
            height: auto;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            overflow: hidden;
          }
          & .pic-attach {
            display: inline-block;
            position: relative;
            height: auto;
            width: 100%;
            padding-bottom: 52%;
            margin: 0 auto;
            background-position: 0 0;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            overflow: hidden;
          }
          & .Lcol {
            width: 49%;
            padding-right: 33px;
            text-align: right;
            font-size: 19px;
            @media #{$M_SMX} {
              padding-right: 18px;
            }
            @media #{$M_XS} {
              width: 100%;
              margin-bottom: 10px;
              padding-right: 0;
              text-align: left;
              font-size: 13px;
            }
          }
          & .Rcol {
            width: 51%;
            padding-right: 70px;
            @media #{$M_SMX} {
              padding-right: 0;
            }
            @media #{$M_XS} {
              width: 100%;
            }
            & .pic-description {
              &__name,
              &__date {
                display: inline-block;
                width: 100%;
                font-size: 19px;
                color: $white;
              }
              &__name {
                @media #{$M_XS} {
                  font-size: 15px;
                }
              }
              &__date {
                margin-top: 14px;
                font-size: 13px;
                color: $gray-79;
              }
            }
            & input,
            & textarea {
              display: inline-block;
              width: 100%;
              padding: 0 40px 0 10px;
              font-size: 17px;
              font-weight: bold;
              background-color: $gray-53;
              @include border-radius($border-radius-default);
              border: none;
              outline: none;
              color: $white;
            }
            & #count {
              display: none;
              position: absolute;
              bottom: 9px;
              right: 20px;
              font-size: 13px;
              color: $gray-79;
              & span {
                padding: 5px;
              }
            }
            & input,
            & .btn {
              height: 50px;
              line-height: 50px;
              vertical-align: middle;
              &[type="file"] {
                display: none;
              }
            }
            & textarea {
              height: 95px;
              min-height: 95px;
              max-width: 100%;
              padding: 17px 10px 25px;
            }
            & .btn {
              text-align: center;
              font-size: 22px;
              cursor: pointer;
            }
            & label {
              position: relative;
              display: inline-block;
              width: 100%;
              &:after {
                content:'';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 22px;
                height: 22px;
                width: 20px;
                margin: auto 0;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                -webkit-background-size: contain;
                background-size: contain;
                z-index: 2;
              }
              &.location {
                &:after {
                  background-image: url(../images/icon_map-marker.svg);
                }
              }
              &.username {
                &:after {
                  background-image: url(../images/icon_user.svg);
                }
              }
            }
          }
        }
      }
      & .apply-photo {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        & .pic-wr {
          overflow: hidden;
        }
        & .title {
          margin-top: 22px;
          padding: 0 15px 14px;
          font-size: 23px;
          font-weight: bold;
          border-bottom: 1px solid $gray-79;
        }
        & .persons-link {
            margin-top: 15px;
          & .user-list {
            font-size: 19px;
            @media #{$M_XS} {
              font-size: 13px;
            }
          }
          & .location {
            margin-top: 10px;
            font-size: 13px;
            color: $gray-79;
          }
        }
        & .agreement {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
          font-size: 15px;
          & a {
            margin-left: 8px;
            border-bottom: 1px solid $gray-79;
            text-decoration: none;
            &:hover {
              border-bottom-color: transparent;
            }
          }
          & label {
            position: relative;
            display: inline-block;
            padding-left: 30px;
            text-align: left;
            &:before {
              content:'';
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              height: 20px;
              width: 20px;
              margin-right: 8px;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              -webkit-background-size: contain;
              background-size: contain;
              background-color: $gray-53;
              @include border-radius($border-radius-default);
              overflow: hidden;
              cursor: pointer;
            }
          }
          & input {
            display: none;
            &:checked + label {
              &:before {
                background-image: url(../images/icon_check.png);
              }
            }
          }
        }
        & button {
          &[type="submit"] {
            display: inline-block;
            height: 40px;
            margin-top: 30px;
            padding: 0 25px;
            line-height: 40px;
            vertical-align: middle;
            font-size: 22px;
            background-color: $blue-3A;
            @media #{$M_XS} {
              padding: 0 15px;
            }
          }
        }
        p {
          font-size: 17px;
          margin-top: 20px;
        }
      }
    }
  }
}
.carousel-wr {
  position: relative;
  height: auto;
  width: 100%;
  margin: 23px 0;
  & > span {
    font-size: 19px;
    color: $white;
  }
}
.carousel {
  height: 100px;
  width: 100%;
  margin-top: 13px;
  overflow: hidden;
  &__item {
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    height: 82px;
    width: 82px;
    min-width: 82px;
    min-height: 82px;
    text-align: center;
    border: 4px solid transparent;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    &:hover,
    &.active {
      border-color: $white-E2;
    }
  }
}
.mCSB_container {
  background-color: $gray-63;
}
.mCSB_draggerRail {
  height: 16px !important;
  margin: 0 !important;
  border-radius: 0 !important;
}
.mCSB_dragger_bar {
  height: 6px !important;
  margin: 5px 0 !important;
  background: $gray-84;
}

