+b('section').page-section
  include ../page-rounded-pic/rounded-pic
  +b.promo-title
    h2 ჩაერთე გამოწვევაში!
  +b.promo-form
    +e.loader-wr
      +e.loader
        +b.loader-item.loader-item1
        +b.loader-item.loader-item2
        +b.loader-item.loader-item3
        +b.loader-item.loader-item4
        +b.loader-item.loader-item5
    +e.item.active
      +b.item-title
        +b.item-num 1
        span შედი სისტემაში Facebook-ით
      +b.item-content
        +b('figure').inline-figure
          +e('a')(href="#").pic.facebook
          +e('figcaption').caption
            +b.caption-title #[a(href="#") შედი] სისტემაში Facebook-ით
            +b.sub-text
              | ყველა საჭირო ინფორმაციის შევსების გამარტივების
              br
              | მიზნით გთხოვთ, შეხვიდეთ თქვენს Facebook ანგარიშზე
    +e.item.active
      +b.item-title
        +b.item-num 2
        span ატვირთე ფოტო
      +b.item-content
        +b('figure').inline-figure
          +e('label').pic.upload
            input(type="file")
          +e('figcaption').caption
            +b.caption-title
              label
                input(type="file")
                | ატვირთე ფოტო
              | ,
              |
              | სადაც ახლო მეგობართან
              br
              | ერთად სვამ ნესკაფეს ყავას
            +b.sub-text
              | ფოტო უნდა იყოს ჰორიზონტალური, ფოტოზე უნდა იყოთ შენ, შენი მეგობარი და რა თქმა უნდა,
              br
              | ნესკაფეს წითელი ფინჯნები! თუ ფინჯნები არ გაქვს, შეგიძლია ჩვენი სტიკერები გამოიყენო!
    +e.item.active
      +b.item-title
        +b.item-num 3
        span დაურთე აღწერა
      +b.item-content
        form.form
          +e.label
            +b.carousel-wr
              span გააფორმე ფოტო სტიკერებით
              +b.carousel
                +e.item
                  img(src="./temp/stickers/st_01.png")
                +e.item
                  img(src="./temp/stickers/st_02.png")
                +e.item
                  img(src="./temp/stickers/st_03.png")
                +e.item
                  img(src="./temp/stickers/st_04.png")
                +e.item
                  img(src="./temp/stickers/st_05.png")
                +e.item.active
                  img(src="./temp/stickers/st_06.png")
                +e.item
                  img(src="./temp/stickers/st_07.png")
                +e.item
                  img(src="./temp/stickers/st_08.png")
                +e.item
                  img(src="./temp/stickers/st_09.png")
                +e.item
                  img(src="./temp/stickers/st_10.png")
                +e.item
                  img(src="./temp/stickers/st_11.png")
                +e.item
                  img(src="./temp/stickers/st_12.png")
                +e.item
                  img(src="./temp/stickers/st_13.png")
                +e.item
                  img(src="./temp/stickers/st_01.png")
                +e.item
                  img(src="./temp/stickers/st_02.png")
                +e.item
                  img(src="./temp/stickers/st_03.png")
                +e.item
                  img(src="./temp/stickers/st_04.png")
                +e.item
                  img(src="./temp/stickers/st_05.png")
                +e.item
                  img(src="./temp/stickers/st_06.png")
                +e.item
                  img(src="./temp/stickers/st_07.png")
                +e.item
                  img(src="./temp/stickers/st_08.png")
                +e.item
                  img(src="./temp/stickers/st_09.png")
                +e.item
                  img(src="./temp/stickers/st_10.png")
                +e.item
                  img(src="./temp/stickers/st_11.png")
                +e.item
                  img(src="./temp/stickers/st_12.png")
                +e.item
                  img(src="./temp/stickers/st_13.png")
            +b.row
              +b(style="background-image: url(./temp/popup_img.png)").pic-attach
            +b.row
              +b.Lcol რომელ მეგობართან ერთად დალიე ყავა ნესკაფე?

              +b.Rcol
                label.username
                  input(type="text")

            +b.row
              +b.Lcol სად დალიეთ ყავა?

              +b.Rcol
                label.location
                  input(type="text")

            +b.row
              +b.Lcol გაგვიზიარე შთაბეჭდილებები

              +b.Rcol
                label
                  textarea(maxlength="200")#textarea
                  +b#count
                    | დარჩა
                    |
                    span
                    |
                    | სიმბოლო
            +b.row
              +b.Lcol გააფორმე ფოტო სტიკერებით

              +b.Rcol
                label.btn სტიკერის არჩევა
                  input(type="file")
    +e.item
      +b.item-title
        +b.item-num 4
        span გააზიარე ფოტო Facebook-ზე

      +b.item-content
        +b.apply-photo
          +b.pic-wr
            img(src="./temp/popup_img.png")

          +b.title მე ჩავერთე ნესკაფეს გამოწვევაში “ახლო მეგობარი” და მოვინახულე ჩემი მეგობარი ……….. ჩაერთე შენც! #ახლომეგობარი

          +b.persons-link
            +b.user-list
              | #[a(href="#") ანასტასია ივანოვა]
              |
              | და
              |
              | #[a(href="#") მარია პეტროვა]
            +b.location ქუ. კონდრატა კრატრივი, 34

          +b.agreement
            input(type="checkbox" id="agreement-checkbox")
            label(for="agreement-checkbox")
              span ვეთანხმები გამოწვევის #[a(href="#") წესებსა და პირობებს]

          button(type="submit").btn ფოტოს გამოქვეყნება

          p ესეც ასე!
