+b('header').header
  +e.logo--left
    a(href="#").company-logo
  +e.logo--middle
    a(href="#")
      img(src="../assets/images/main_logo.png")
  +e.list-wr
    +e('ul').list
      +e('li').item #[a(href="#") გამოწვევის შესახებ]
      +e('li').item
        a(href="#").btn ჩაერთე