.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 33px;
  padding: 0 50px;
  &__logo--left,
  &__logo--middle {
    overflow: hidden;
  }
  &__logo--left {
    min-width: 140px;
    max-width: 140px;
    width: 140px;
    & a {
      display: block;
    }
    @media #{$M_XS} {
      margin-right: auto;
      width: 120px;
      min-width: 120px;
      max-width: 120px;
    }
  }
  &__logo--middle {
    position: absolute;
    top: -13px;
    left: 0;
    right: 0;
    width: 200px;
    margin: 0 auto;
    @media #{$M_SM} {
      width: 138px;
    }
    @media #{$M_XS} {
      position: relative;
      margin: -43px 0 0 auto;
    }
    @media #{$M_X3S} {
      margin: -43px 0 0 auto;
    }
  }
  &__list-wr {
    margin-top: 5px;
    @media #{$M_XS} {
      margin-top: 0;
    }
  }
  &__list {
    @media #{$M_X2S} {
      display: flex;
      align-items: center;
    }
  }
  &__item {
    display: inline-block;
    margin-left: 18px;
    font-size: 17px;
    line-height: 20px;
    color: $black;
    @media #{$M_X2S} {
      font-size: 15px;
      margin-left: 15px;
      &:first-of-type {
        margin-left: 0;
      }
    }
    & .btn {
      height: 40px;
      padding: 0 17px;
      line-height: 40px;
      font-size: 24px;
      color: $white;
    }
  }
  & .company-logo {
    content: svg-load('../images/company_logo.svg');
  }
  @media #{$M_MD} {
    padding: 0 30px;
  }
  @media #{$M_SM} {
  }
  @media #{$M_XS} {
    flex-flow: column wrap;
    align-items: center;
    padding: 0 20px;
    margin-top: 25px;
  }
}
