+b('section').social-section
  +b('ul').social-list
    +e.item.facebook
      a(href="#")
    +e.item.instagram
      a(href="#")
    +e.item.youtube
      a(href="#")
  +e.text
    | ნესკაფე
    br
    | გვაერთიანებს