.social-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  & .social-list {
    display: inline-flex;
    &__item {
      height: 80px;
      width: 80px;
      margin-right: 20px;
      &:hover {
        opacity: 0.6;
      }
      & a {
        display: block;
        height: 100%;
        width: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        &:after {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
      &.facebook {
        & a {
          background-image: url(../images/icon_facebook.svg);
        }
      }
      &.instagram {
        & a {
          background-image: url(../images/icon_instagram.svg);
        }
      }
      &.youtube {
        & a {
          background-image: url(../images/icon_youtube.svg);
        }
      }
      @media #{$M_XS} {
        height: 50px;
        width: 50px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  &__text {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: $font-bold, $font-base;
    line-height: 1.2em;
    @media #{$M_XS} {
      display: none;
    }
  }
}