@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin visually-hidden {
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	position: absolute;
}

@mixin font-smoothing($value: on) {
	@if $value == on {
		font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-ms-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	} @else if $value == off {
		font-smoothing: none;
		-webkit-font-smoothing: none;
		-moz-font-smoothing: none;
		-ms-font-smoothing: none;
		-o-font-smoothing: none;
		-moz-osx-font-smoothing: unset;
	} @else {
		font-smoothing: subpixel-antialiased;
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-font-smoothing: subpixel-antialiased;
		-ms-font-smoothing: subpixel-antialiased;
		-o-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: fixed;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin border-radius($radius) {
    -webkit-border-radius:  $radius;
    -moz-border-radius:     $radius;
    -o-border-radius:       $radius;
    border-radius:          $radius;
}

@mixin linear-gradient($direction, $color-starts, $color-stops) {
	background: $color-starts; /* Old browsers */
	background: -moz-linear-gradient($direction, $color-starts 0%, $color-stops 100%);
	background: -webkit-linear-gradient($direction, $color-starts 0%,$color-stops 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-starts', endColorstr='$color-stops',GradientType=0 );
}
@mixin transform-rotate($angle) {
  -moz-transform: rotate($angle);
  -ms-transform: rotate($angle);
  -webkit-transform: rotate($angle);
  -o-transform: rotate($angle);
  transform: rotate($angle);
}
@mixin transform-translate($valueX, $valueY) {
  -moz-transform: translate($valueX, $valueY);
  -ms-transform: translate($valueX, $valueY);
  -webkit-transform: translate($valueX, $valueY);
  -o-transform: translate($valueX, $valueY);
  transform: translate($valueX, $valueY);
}