/*Colors*/
$black: #000;
$black-25: #25211f;
$white: #FFF;
$white-D7: #d7d7c6;
$white-E2: #e2e1e0;

$red-DA: #da0003;
$red-C4: #C40001;
$green-57: #57aa41;
$blue-3A: #3a5998;

$gray-D3: #D3D3D2;
$gray-4C: #4C4947;
$gray-6E: #6e6e6e;
$gray-33: #332e2c;
$gray-25: #25211f;
$gray-63: #635e5b;
$gray-49: #494340;
$gray-53: #534e4b;
$gray-79: #797572;
$gray-84: #847f7e;
$gray-92: #92908f;

$map-popup-bg: #fff;

/*Links*/
$link: inherit;
$link-hover: inherit;

/*Typography*/
$font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font: 'Bpg', $font-base;
$font-bold: 'Bpg-bold', $font-base;

$font-size-root: 10px;
$font-size: 1.5rem;

$text: $black;

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

/*Paths*/
$font-img-path: '../images';

/*Media-queries*/
$M_X4S: 'screen and (max-width: 319px)'; // (srv)
$M_X3S: 'screen and (max-width: 479px)'; // (srv)
$M_X2S: 'screen and (max-width: 639px)'; // (srv)
$M_XS: 'screen and (max-width: 767px)'; // phones
$M_XSM: 'screen and (max-width: 869px)';
$M_SM: 'screen and (max-width: 991px)'; // tablets
$M_SMX: 'screen and (max-width: 1023px)';
$M_SM2X: 'screen and (max-width: 1099px)';
$M_SM3X: 'screen and (max-width: 1149px)';
$M_MD: 'screen and (max-width: 1199px)'; // medium desktop
$M_LG: 'screen and (min-width: 1200px)'; // large desktop
$M_XLG: 'screen and (max-width: 1399px)'; // extra-large desktop

$gallery_lg: 'screen and (max-width: 1415px)';
$M_XSS: 'screen and (max-width: 690px)';
$M_XSSM: 'screen and (max-width: 651px)';
$M_XSSSM: 'screen and (max-width: 575px)';
$M_X4XS: 'screen and (max-width: 540px)';
$M_X3XSS: 'screen and (max-width: 440px)';
$M_X3XS: 'screen and (max-width: 390px)';
$custom-media: 'screen and (max-width: 321px)';

/*Page-top-height*/
$Top-section-height: 550px;
$Top-section-height-sm: 350px;

/*Border-radius*/
$border-radius-default: 4px;
$page-pic-wr-radius: 40%;
$full-round: 100%;

/*Rounded-pic*/
$rounded-pic-h: 200px;
$xs-rounded-pic-h: 180px;
$x2s-rounded-pic-h: 150px;
$x3s-rounded-pic-h: 120px;
$x4s-rounded-pic-h: 100px;
$fix-offset: $rounded-pic-h / 2;
$fix-offset-sm: $rounded-pic-h / 6.5;

/*Page full H*/
$page-full-H: calc(100vh - 76px - #{$Top-section-height});
$page-full-H-sm: calc(100vh - 76px - #{$Top-section-height-sm});

