@font-face {
    font-family: 'Bpg';
    src: url('../fonts/bpg/bpg_regular.eot');
    src: url('../fonts/bpg/bpg_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg/bpg_regular.ttf') format('truetype'),
         url('../fonts/bpg/bpg_regular.svg#bpg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bpg-bold';
    src: url('../fonts/bpg/bpg_bold.eot');
    src: url('../fonts/bpg/bpg_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg/bpg_bold.ttf') format('truetype'),
         url('../fonts/bpg/bpg_bold.svg#bpg') format('svg');
    font-weight: bold;
    font-style: normal;
}