+b.popup-wr
  +b(tabindex="-1").gallery-popup.popup
    +b.closer
    +e.pic
      img(src="./temp/popup_img.png")
    +e.caption
      +b.title მე ჩავერთე ნესკაფეს გამოწვევაში “ახლო მეგობარი” და მოვინახულე ჩემი მეგობარი ……….. ჩაერთე შენც! #ახლომეგობარი
      +b.marks
        +b.link-list
          | #[a(href="#") ანასტასია ივანოვა]
          |
          | და
          |
          | #[a(href="#") მარია პეტროვა]
        +b.location ქუ. კონდრატა კრატრივი, 34
      +b.caption-bottom
        +e.left
          +b.date 2 საათის წინ
        +e.mid
          a(href="#").fb-btn ნახვა Facebook- ზე
        +e.right
          +b.likes 977