.popup-wr {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  background-color: rgba(0,0,0,0.7);
  overflow-y: auto;
  z-index: 9999;
  &.active {
    display: block;
  }
  & .popup {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-bottom: 50px;
    transform: translateX(-50%);
    & .closer {
      position: absolute;
      top: 30px;
      right: 30px;
      height: 22px;
      width: 22px;
      cursor: pointer;
      &:before, &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: $gray-6E;
        @media #{$M_XS} {
          background: $white;
          height: 2px;
        }
      }
      &:before {
        @include transform-rotate(45deg);
      }
      &:after {
        @include transform-rotate(-45deg);
      }
      @media #{$M_SM} {
        top: 15px;
        right: 15px;
      }
    }
  }
  & .gallery-popup {
    display: none;
    height: auto;
    max-width: 980px;
    width: 100%;
    padding: 80px 100px 30px 82px;
    background-color: $white;
    color: $black-25;
    &.active {
      display: block;
    }
    &__pic {
      height: auto;
      width: 100%;
      padding-bottom: 52%;
      text-align: center;
      overflow: hidden;
    }
    &__caption {
      height: 100%;
      width: 100%;
      margin-top: 18px;
      & .title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        font-family: $font-bold, $font-base;
        padding: 0 35px 18px;
        border-bottom: 1px solid $gray-D3;
        @media #{$M_XS} {
          font-size: 22px;
          padding: 0 0 15px;
        }
      }
      & .marks {
        margin-top: 20px;
        text-align: center;
        @media #{$M_XS} {
          margin-top: 15px;
        }
        & .link-list {
          font-size: 19px;
          & a {
            font-weight: bold;
            border-bottom: 1px solid $gray-D3;
            text-decoration: none;
            &:hover {
              border-bottom: none;
            }
          }
          @media #{$M_XS} {
            font-size: 13px;
          }
        }
        & .location {
          margin-top: 13px;
          font-size: 13px;
          color: $gray-6E;
        }
      }
      & .caption-bottom {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        &__left {
          position: absolute;
          left: 0;
        }
        &__right {
          position: absolute;
          right: 0;
        }
        @media #{$M_XS} {
          padding-bottom: 35px;
          &__left,
          &__right {
            bottom: 0;
          }

          &__right {
            order: 3;
            margin-left: auto;
            margin-top: -18px;
          }
        }
        & .date {
          font-size: 15px;
          color: $gray-6E;
        }
        & .fb-btn {
          height: 40px;
          display: block;
          width: auto;
          padding: 0 25px;
          line-height: 40px;
          vertical-align: middle;
          text-decoration: none;
          font-size: 22px;
          font-family: $font-bold;
          font-weight: bold;
          background-color: $blue-3A;
          @include border-radius($border-radius-default);
          color: $white;
          &:hover {
            opacity: 0.8;
          }
          &:active {
            transform: translateY(2px);
          }
        }
        & .likes {
          font-size: 17px;
          color: $blue-3A;
          &:before {
            display: inline-block;
            content: svg-load('../images/icon_like.svg', fill = $blue-3A);
            margin-right: 5px;
          }
        }
      }
      @media #{$M_XS} {
        padding: 0 15px;
      }
    }
    @media #{$M_SM} {
      max-width: 100%;
      padding: 45px 20px 30px 20px;
      left: 20px;
      right: 20px;
      width: auto;
      transform: none;
    }
    @media #{$M_XS} {
      padding: 0 0 30px 0;
    }
  }
}
