+b('section').page-section
  include ../page-rounded-pic/rounded-pic
  +b.finish-bl
    +e.title ყველაფერი მზადაა!
    +e.finish-icon
    p
      b გილოცავთ! შენ უკვე ჩაერთე გამოწვევაში!
    p შეგიძლია კიდევ #[a(href="#") დაამატო ფოტო], და ნახო სხვა მონაწილეების #[a(href="#") ფოტოები აქ].