.finish-bl {
  max-width: 470px;
  margin: 0 auto;
  padding-bottom: 125px;
  text-align: center;
  @media #{$M_XS} {
    padding: 0 30px 90px;
  }
  &__title {
    margin-top: 36px;
    font-weight: bold;
    font-size: 36px;
    font-family: $font-bold, $font-base;
    @media #{$M_XS} {
      font-size: 27px;
    }
  }
  &__finish-icon {
    height: 100px;
    margin-top: 45px;
    margin-bottom: 40px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-image: url(../images/icon_done.png);
    @media #{$M_XS} {
      height: 73px;
      width: 140px;
      margin: 25px auto;
    }
  }
  p {
    margin-top: 40px;
    font-size: 21px;
    line-height: 1.5em;
    @media #{$M_XS} {
      font-size: 15px;
      margin-top: 20px;
    }
    & a {
      text-decoration: none;
      border-bottom: 1px solid $gray-79;
      &:hover {
        border-bottom-color: transparent;
      }
    }
  }
}