+b('section').page-section
  include ../page-rounded-pic/rounded-pic
  +b.text-section
    +e.title კონკურსის პირობები
    +e('article').text-article
      p ასევე, პოზიციის ფორმირების დღიდან ყოველდღიური მუშაობის დაწყება მოითხოვს შემდგომი მიმართულებების განსაზღვრას და განმარტებას. ყოველდღიური პრაქტიკა გვიჩვენებს, რომ საორგანიზაციო საქმიანობის ახალი მოდელი მოითხოვს აქტივაციისთვის შესაბამისი პირობების ანალიზს. ყოველდღიური პრაქტიკა გვიჩვენებს, რომ ჩვენი საქმიანობების მუდმივი ინფორმაცია და პროპაგანდა მხარდაჭერა გულისხმობს მონაწილეთა მიერ დაკისრებული ამოცანების შესასრულებლად დანერგვისა და მოდერნიზაციის პროცესს. თანამებრძოლებს! პერსონალის სწავლების ჩარჩო და ადგილი ხელს უწყობს განვითარების ფორმების მნიშვნელობას. უმაღლესი ბრძანების იდეოლოგიური მოსაზრებები, აგრეთვე საქმიანობის სხვადასხვა ფორმების შემდგომი განვითარება.

    +e('figure').figure.lrg
      img(src="./temp/text-pic-lrg.jpg")
      +b('figcaption').caption მთადან დასავლეთიდან დასავლეთით ზღვის დონიდან ოთხი ათასი კილომეტრის დაშორებით. ძალიან პოპულარული ადგილია დასავლეთ ევროპასა და აზიის ტურისტებს შორის, განსაკუთრებით ზაფხულსა და ზამთარში.
    +e('article').text-article 
      p ორგანიზაციის ამოცანა, განსაკუთრებით ორგანიზაციის სტრუქტურული სტრუქტურა, ხელს უწყობს სასწავლო სისტემის მომზადებას და განხორციელებას, შეესაბამება გადაუდებელ მოთხოვნებს. თუმცა არ უნდა დაგვავიწყდეს, რომ დაგეგმილი სამიზნეების განხორციელება მნიშვნელოვანია განვითარების განვითარების.
      h2 ჰედერი
      p ორგანიზაციის ამოცანა, განსაკუთრებით მუდმივი ინფორმაცია და ჩვენი საქმიანობის პროპაგანდისტული მხარდაჭერა, უზრუნველყოფს მონაწილეობის ფართო სპექტრს (სპეციალისტების)შესაბამისი აქტივაციის პირობების ფორმირებაში.
      p ამრიგად, ჩვენი საქმიანობის ფარგლების მუდმივი ზრდა გვაძლევს მნიშვნელოვან ამოცანებს ახალი წინადადებების განვითარებაში.
      h3 ჰედერი
      p უმაღლესი ბრძანების იდეოლოგიური მოსაზრებები, აგრეთვე საქმიანობის სხვადასხვა ფორმების შემდგომი განვითარება მოითხოვს სასწავლო პერსონალის სისტემის განსაზღვრას და დახვეწას, შეესაბამება გადაუდებელ საჭიროებებს.
      +e('figure').figure.sm
        img(src="./temp/text-pic-sm.png")
        +b('figcaption').caption ცნობილი მთა ავსტრალია
      p ორგანიზაციის ამოცანა, კერძოდ ორგანიზაციის დადგენილი სტრუქტურა ხელს უწყობს პერსონალის მომზადების სისტემის მომზადებასა და განხორციელებას, აკმაყოფილებს გადაუდებელ საჭიროებებს. თუმცა არ უნდა დაგვავიწყდეს, რომ დაგეგმილი სამიზნეების განხორციელება მნიშვნელოვანია.
      p ორგანიზაციის ამოცანა, განსაკუთრებით სხვადასხვა სახის ფორმების შემდგომი განვითარება, არის საინტერესო ექსპერიმენტი განვითარების დამატებითი მიმართულებების დასადგენად:
      +b('ul').text-list.num
        +e.item ნათელი პასუხი მომხმარებლის კითხვებზე: "ვინ ხარ?", "რას გთავაზობ?" და / ან "რა?" შემიძლია გავაკეთო აქ? ". თქვენსმა კომპანიამ უნდა უპასუხოთ ამ კითხვებს ისე, რომ თითოეული სტუმარი ესმის, რომ ის სწორი ადგილი იყო. თუ მომხმარებელი ვერ იპოვის პასუხს კითხვებზე რამდენიმე წამში, შემდეგი ნაბიჯი არის უარის თქმა!
        +e.item რეზონანსი სამიზნე აუდიტორიათ. მთავარი გვერდი უნდა ილაპარაკოს სამიზნე აუდიტორიასთან მის ენაზე. სცადეთ თავიდან იქნას აცილებული "კორპორატიული ჯიბრი" და აღმოფხვრას ყველა არასაჭირო და ყურადღების გადასატანი.
      p ტყვია სია:
      +b('ul').text-list
        +e.item ნათელი პასუხი მომხმარებლის კითხვებზე: "ვინ ხარ?", "რას გთავაზობ?" და / ან "რა?" შემიძლია გავაკეთო აქ? ". თქვენსმა კომპანიამ უნდა უპასუხოთ ამ კითხვებს ისე, რომ თითოეული სტუმარი ესმის, რომ ის სწორი ადგილი იყო. თუ მომხმარებელი ვერ იპოვის პასუხს კითხვებზე რამდენიმე წამში, შემდეგი ნაბიჯი არის უარის თქმა!
        +e.item რეზონანსი სამიზნე აუდიტორიათ. მთავარი გვერდი უნდა ილაპარაკოს სამიზნე აუდიტორიასთან მის ენაზე. სცადეთ თავიდან იქნას აცილებული "კორპორატიული ჯიბრი" და აღმოფხვრას ყველა არასაჭირო და ყურადღების გადასატანი.
      +e.btn-wr
        +b.promo-btn
          a(href="#").btn ჩაერთე!