.text-section {
  margin: 47px auto 0;
  font-size: 17px;
  padding-bottom: 58px;
  @media #{$M_XS} {
    font-size: 15px;
  }
  &__text-article {
    max-width: 796px;
    padding: 0 20px;
    margin: 0 auto;
    @media #{$M_XS} {
      & h2 {
        font-size: 24px;
      }
      & h3 {
        font-size: 22px;
      }
    }
  }
  &__title {
    margin-bottom: 40px;
    font-size: 43px;
    text-align: center;
    font-family: $font-bold, $font-base;
    @media #{$M_XS} {
      font-size: 26px;
    }
  }
  & p {
    margin-top: 35px;
    margin-bottom: 35px;
    line-height: 1.7em;
    @media #{$M_XS} {
      margin: 25px 0; 
    }
  }
  &__figure {
    margin: 35px 0 40px;
    font-size: 13px;
    color: $gray-79;
    overflow: hidden;
    @media #{$M_XS} {
      font-size: 11px;
    }
    &.lrg {
      height: auto;
      width: 100%;
      max-width: 1160px;
      padding: 0 30px;
      margin: 35px auto 40px;
      @media #{$M_XS} {
        padding: 0 20px;
        margin: 25px auto;
      }
    }
    &.sm {
      margin: 0 20px 0 0;
      float: left;
      @media #{$M_XS} {
        margin: 0 0 25px;
        width: 100%;
      }
      &:after {
        content:'';
        display: table;
        clear: both;
      }
    }
    & .caption {
      margin-top: 5px;
      line-height: 1.4em;
    }
  }
  & .text-list {
    display: inline-block;
    margin-left: 35px;
    &__item {
      position: relative;
      margin-bottom: 35px;
      line-height: 1.5em;
      @media #{$M_XS} {
        margin-bottom: 15px; 
      }
      &:before {
        content:'';
        display: block;
        position: absolute;
        top: 8px;
        left: -40px;
        height: 1px;
        width: 20px;
        background-color: $white;
      }
    }
    &.num {
      margin-left: 15px;
      list-style-type: decimal;
      & .text-list__item {
        padding-left: 20px;
        &:before {
          display: none;
        }
      }
    }
  }
  &__btn-wr {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    & .promo-btn {
      & .btn {
        width: 280px;
        &:before {
          background-position: 40% 50%;
        }
        &:after {
          background-position: 64% 50%;
        }
        @media #{$M_XS} {
          height: 50px;
          line-height: 50px;
          width: 220px;
          font-size: 27px;
          &:before,
          &:after {
            height: 40px;
          }
        }
      }
    }
  }
}