.top-section {
  position: relative;
  height: $Top-section-height;
  width: 100%;
  background-image: url(../images/top_banner.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  &.top-section--sm {
    height: auto;
    min-height: 220px;
  }
  & .top-title {
    margin: 15px auto 105px;
    text-align: center;
    color: $black;
    @media #{$M_X2S} {
      margin: 15px auto 90px;
    }
    @media #{$M_X3S} {
      margin: 15px auto 75px;
    }
    & h1 {
      @media #{$M_XS} {
        font-size: 27px;
      }
    }
  }
  @media #{$M_SM2X} {
    height: 515px;
  }
  @media #{$M_SMX} {
    height: 480px;
  }
  @media #{$M_SM} {
    height: 441px;
  }
  @media #{$M_XSM} {
    height: 405px;
  }
  @media #{$M_XS} {
    height: 530px;
  }
  @media #{$M_XSS} {
    height: 500px;
  }
  @media #{$M_X2S} {
    height: 470px;
  }
  @media #{$M_XSSSM} {
    height: 440px;
  }
  @media #{$M_X4XS} {
    height: 420px;
  }
  @media #{$M_X3S} {
    height: 400px;
  }
  @media #{$M_X3XSS} {
    height: 370px;
  }
  @media #{$M_X3XS} {
    height: 345px;
  }
  @media #{$M_X4S} {
    height: 370px;
  }
  @media #{$custom-media} {
    height: 320px;
  }
}