body {
  color: #fff;
}
body.overflow {
  overflow: hidden;
}
a {
  font-size: inherit;
}
h1 {
  font-size: 53px;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 31px;
}
h1, h2, h3, h4, .title {
  font-family: $font-bold, $font-base;
}

.page-wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding-top: 5px;
  background-color: $black;
}
.page-section {
  position: relative;
  @include linear-gradient(top, #332d2a, #131110);
  min-height: $page-full-H-sm;
}
.top-section + .page-section {
  min-height: auto;
}
.main-section {
  min-height: $page-full-H;
}
.btn {
  position: relative;
  display: block;
  vertical-align: middle;
  font-weight: bold;
  font-family: $font-bold, $font-base;
  color: $white;
  cursor: pointer;
  @include border-radius($border-radius-default);
  background-color: $red-DA;
  &:hover {
    text-decoration: none;
    background-color: $red-C4;
  }
  &:active {
    transform: translateY(1px);
  }
}
.logout-btn {
  position: relative;
  display: block;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  font-size: 15px;
  padding: 0 10px 0 40px;
  background-color: $blue-3A;
  @include border-radius(100px);
  color: $white;
  & i {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    bottom: 0;
    left: 3px;
    margin: auto 0;
    @include border-radius($full-round);
    overflow: hidden;
    z-index: 2;
  }
  &:hover {
    opacity: 0.9;
    text-decoration: none;
    color: $white;
  }
  &:active {
    transform: translateY(1px);
  }
}
.promo-btn {
  position: relative;
  &:before {
    content:'';
    display: block;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 2;
  }
  & .btn {
    position: relative;
    height: 70px;
    padding: 0 50px;
    line-height: 70px;
    font-size: 34px;
    text-align: center;
    &:before {
      content:'';
      display: block;
      height: 50px;
      background-image: url(../images/icon_cup-l.png);
      background-repeat: no-repeat;
      background-position: 36% 50%;
      -webkit-background-size: contain;
      background-size: contain;
      position: absolute;
      transform: translateY(-100%);
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      font-family: $font-bold, $font-base;
    }
    &:after {
      content:'';
      display: block;
      height: 50px;
      background-image: url(../images/icon_cup-r.png);
      background-repeat: no-repeat;
      background-position: 69% 50%;
      -webkit-background-size: contain;
      background-size: contain;
      position: absolute;
      transform: translateY(-100%);
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
    }
  }
}
.main-wrapper {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  @media #{$M_XLG} {
    width: 100%;
  }
}
input {
  outline: none;
  border: none;
}
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.rotate:before {
  -webkit-animation: rotating 0.5s linear infinite;
  -moz-animation: rotating 0.5s linear infinite;
  -ms-animation: rotating 0.5s linear infinite;
  -o-animation: rotating 0.5s linear infinite;
  animation: rotating 0.5s linear infinite;
}

@-webkit-keyframes chin-chin-L {
  20% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 36% 50%;
  }
}
@keyframes chin-chin-L {
  20% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 36% 50%;
  }
}
@-webkit-keyframes chin-chin-R {
  20% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 69% 50%;
  }
}
@keyframes chin-chin-R {
  20% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 69% 50%;
  }
}
.promo-btn .btn {
  &:hover {
    &:before {
      -webkit-animation: chin-chin-L 0.2s linear;
      -moz-animation: chin-chin-L 0.2s linear;
      -ms-animation: chin-chin-L 0.2s linear;
      -o-animation: chin-chin-L 0.2s linear;
      animation: chin-chin-L 0.2s linear;
    }
    &:after {
      -webkit-animation: chin-chin-R 0.2s linear;
      -moz-animation: chin-chin-R 0.2s linear;
      -ms-animation: chin-chin-R 0.2s linear;
      -o-animation: chin-chin-R 0.2s linear;
      animation: chin-chin-R 0.2s linear;
    }
  }
}

@-webkit-keyframes StretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }
@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }