.rounded-pic {
  &__wr {
    height: $rounded-pic-h;
    width: $rounded-pic-h;
    margin: 0 auto;
    margin-bottom: -$fix-offset;
    padding: 6px;
    background-color: $red-DA;
    @include border-radius($page-pic-wr-radius);
    transform: translateY(-50%);
    @media #{$M_XS} {
      height: $xs-rounded-pic-h;
      width: $xs-rounded-pic-h;
      padding: 3px;
      margin-bottom: -$xs-rounded-pic-h / 2;
    }
    @media #{$M_X2S} {
      height: $x2s-rounded-pic-h;
      width: $x2s-rounded-pic-h;
      padding: 3px;
      margin-bottom: -$x2s-rounded-pic-h / 2;
    }
    @media #{$M_X3S} {
      height: $x3s-rounded-pic-h;
      width: $x3s-rounded-pic-h;
      padding: 3px;
      margin-bottom: -$x3s-rounded-pic-h / 2;
    }
    @media #{$M_X4S} {
      height: $x4s-rounded-pic-h;
      width: $x4s-rounded-pic-h;
      padding: 3px;
      margin-bottom: -$x4s-rounded-pic-h / 2;
    }
  }
  &__inner {
    height: 100%;
    width: 100%;
    @include border-radius($full-round);
    text-align: center;
    overflow: hidden;
  }
}
.main-section {
  & .rounded-pic {
    &__wr {
      transform: translateY(-15%);
      margin-bottom: -$fix-offset-sm;
    }
  }
}