footer {
  background-color: $gray-25;
  & .footer-inner {
    width: 100%;
    & .footer-nav {
      height: auto;
      min-height: 72px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__item {
        margin: 0 50px;
        font-size: 14px;
        color: $gray-4C;
        & a {
          color: $gray-92;
        }
        @media #{$M_SM2X} {
          margin: 0 25px;
        }
        @media #{$M_XSM} {
          margin: 0 0 15px;
          &:first-of-type {
            order: 4;
            margin-bottom: 0;
          }
        }
      }
      @media #{$M_XSM} {
        flex-flow: column wrap;
        padding: 25px 0;
      }
    }
  }
}
.main-section + footer {
  & .footer-inner {
    width: 100%;
    border-top: 1px solid $gray-53;
  }
}