+b('section').main-section
  +b.main-wrapper
    include ../page-rounded-pic/rounded-pic
    +b.counter
      | გამოწვევაში უკვე ჩაერთო
      |
      span 574
      |
      | მონაწილე
    include ../page-tab-section/tab-section
    include ../page-social-section/social-section