.main-section {
  height: auto;
  width: 100%;
  background-color: $gray-25;
}
.main-section > .main-wrapper {
  &:before {
    content:'';
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    height: 285px;
    max-width: 1400px;
    background-image: url(../images/icon_georgia.svg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 0;
    @media #{$M_XLG} {
      left: 30px;
      right: 30px;
    }
    @media #{$M_XS} {
      left: 30px;
      right: 30px;
    }
  }
}
.counter {
  height: auto;
  width: auto;
  margin: 30px auto 0;
  text-align: center;
  font-size: 47px;
  font-family: $font-bold, $font-base;
  @media #{$M_XS} {
    font-size: 27px;
    line-height: 1.4em;
  }
}